html {
    font-size: medium;
}
 
body {
    margin: 0;
    width: 100vw;
    height: 350vh;
    background: yellow;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    background: green;
} 

main {
    flex: 15;
    background: purple;
}

footer {
    flex: 1;
    background: blue;
}

#cart {
    width: 10%;
    height: 10%;
}

img {
    width: 20%;
}
 
#symbol {
    display: none;
}

header section {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}


#navcontainer nav {
    
    background-color: salmon;
}

li {
    display: flex;
    flex-flow: row nowrap;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    align-items: right;
    padding: 0 5px; 

}

#searchcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 16px;
    padding: 10px;
}

#fruit {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
}


#product {
    border: 2px solid black;
    background: seagreen;
    display: flex;
    flex-direction: column;
    
}

#productitem {
    position: absolute;
}
